[Unit]
Description=Disable C6 on boot
After=default.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/disable-c6

[Install]
WantedBy=default.target
