[Unit]
Description=Disable C6 on boot
After=default.target

[Service]
Type=oneshot
ExecStart=/bin/sh -c 'modprobe msr && zenstates --c6-disable'

[Install]
WantedBy=default.target
